Repository know-ops/git-actions, changes with the labels that .github/labeler.yml gives for each.
All labels: @bash/action, @bash/test, @bash/lib, container, @yaml/action

added all-files step
  .github/workflows/pr-actions.yaml
Labels: none

[fix] remove != ""
  .github/workflows/pr-actions.yaml
Labels: none

[fix] wrap in "
  .github/workflows/pr-actions.yaml
Labels: none

[fix] wrap in "
  actions/files_changed.sh
Labels: @bash/action

[fix] added replaceNewLine()
  actions/files_changed.sh
  tests/actions/files_changed.bats
Labels: @bash/action, @bash/test

added additional steps; additional inputs; processed inputs
  .github/workflows/pr-actions.yaml
  action.yaml
  actions/files_changed.sh
Labels: @bash/action, @yaml/action

[minor] clean up
  .github/workflows/pr-actions.yaml
Labels: none

added file filtering
  action.yaml
  actions/files_changed.sh
  lib/git/show.bash
  lib/utils/array.bash
  tests/actions/files_changed.bats
  tests/entrypoint.bats
Labels: @bash/action, @bash/test, @bash/lib, @yaml/action

[debug] add \${INPUT_GIT_FILTER}=${INPUT_GIT_FILTER}
  actions/files_changed.sh
Labels: @bash/action

[fix] remove default
  action.yaml
Labels: @yaml/action

[minor] clean up
  action.yaml
  lib/git/commit.bash
  lib/git/show.bash
  lib/utils/array.bash
  tests/lib/tests/helpers.bats
Labels: @bash/test, @bash/lib, @yaml/action

.github/labeler.yml:

'@bash/action':
  - 'actions/*.sh'

'@bash/test':
  - '**/*.bats'

'@bash/lib':
  - 'lib/**/*.bash'

container:
  - Dockerfile

'@yaml/action':
  - 'action.yaml'
